ion-toolbar {
  --background: #000099;
  --padding-end: 20px;
  --padding-start: 20px;
}

ion-header {
  --ion-font-family: 'Lato', sans-serif;
}

ion-item {
  --background: #000099;
  color: white;
}

h6 {
  margin-left: 50px;
  --ion-font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 900;
}

ion-content {
  --ion-background-color: #EAEBF2;
  --ion-font-family: 'Lato', sans-serif;
  --padding-end: 20px;
  --padding-start: 20px;
}

ion-content h1 {
  color: #000099;
  font-size: 21px;
  font-weight: 900;
}

ion-content p {
  color: black;
  font-size: 14px;
  font-weight: 400;
}

.head-content {
  margin-left: 19px;
}
