<ion-header>
  <ion-toolbar>
    <img src="../assets/icon/LIFEAZ.png" class="ion-padding"/>
          <ion-buttons (click)="showMenu = !showMenu" slot="end">
              <img src="../assets/icon/icon_menu.png" class="ion-margin-horizontal"/>
          </ion-buttons>
        </ion-toolbar>
          <ion-item *ngIf="showMenu">
            <ion-label [routerLink]="['/defibrillateurs']">DEFIBRILLATEURS </ion-label>
          </ion-item>
          <ion-item *ngIf="showMenu">
            <ion-label>COMMANDES</ion-label>
          </ion-item>
</ion-header>

<ion-content>

</ion-content>
