ion-toolbar {
  --background: #000099;
}

ion-header {
  --ion-font-family: 'Lato', sans-serif;
}

ion-item {
  --background: #000099;
  color: white;
}

ion-padding {
  --ion-padding: 40px;
}

ion-content {
  --ion-background-color: #EAEBF2;
  --ion-font-family: 'Lato', sans-serif;
  align-items: center;
}

ion-content h1 {
  color: #000099;
  font-size: 21px;
  font-weight: 900;
}

ion-content p {
  color: black;
  font-size: 14px;
  font-weight: 400;
}

ion-card {
  --background: white;
  color: black;
  --border-radius: 15px;
}

ion-card-title {
  color: black;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

ion-card-subtitle {
  color: black;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
}

ion-justify-content-around {
  justify-content: space-around;
}
