ion-toolbar {
  --background: #000099;
}

ion-item {
  --background: #000099;
  color: white;
}

ion-padding {
  --ion-padding: 40px;
}

ion-content {
  --ion-background-color: #E5E5E5;
  font-family: Lato;
  align-items: center;
}

ion-content h1 {
  color: #000099;
  font-size: 21px;
  font-weight: 900;
}

ion-content p {
  color: black;
  font-size: 14px;
  font-weight: 400;
}

ion-card {
  --background: white;
  color: black;
}

ion-card-title {
  color: black;
}
