<ion-header>

  <ion-toolbar>
    <img src="../assets/icon/LIFEAZ.png" class="ion-padding"/>
          <ion-buttons (click)="showMenu = !showMenu" slot="end">
              <img src="../assets/icon/icon_menu.png" class="ion-margin-horizontal"/>
          </ion-buttons>
        </ion-toolbar>
        <ion-item *ngIf="showMenu" lines="none">
          <div class="verticalLine">
            <div class="menu-item1">DEFIBRILLATEURS</div>
            <div class="menu-item2"[routerLink]="['/commandes']">COMMANDES</div>
        </div>
        </ion-item>

</ion-header>

<ion-content>
    <div class="head-content">
      <h1>MES DEFIBRILLATEURS</h1>
        <p>Retrouvez-ici tous vos défibrillateurs. Vous pouvez voir s’ils sont fonctionnels, s’ils nécessitent de la maintenance, et en rechercher un en particulier. </p>
    </div>
        <ion-card *ngFor="let item of items">
          <ion-card-header>
            <ion-row class="ion-justify-content-between">
            <ion-card-title>{{item.serial}}
            </ion-card-title>
              <img src="../assets/icon/icon_check.png" *ngIf="item.state<1"/>
              <img src="../assets/icon/icon_danger.png" *ngIf="item.state>1"/>
              <img src="../assets/icon/icon_inter.png" *ngIf="item.state===1"/>
            </ion-row>
          </ion-card-header>

          <ion-card-content>
            <ion-card-subtitle>{{item.locationName}}</ion-card-subtitle>
            <p>{{item.locationAddr}}</p>
          </ion-card-content>
        </ion-card>
</ion-content>
